<div style="margin: 10px; padding:10px">
   <style>
      a {
      color: font-weight: 400;
      font-family: Source Code Pro, monospace;
      color: #1f1ff6;
      font-size: 20px;
      text-decoration: none;
      }
   </style>
   <a href="/">Home</a>
   <a>|</a>
   <a href="/fileList">Files</a>
</div>